
<br>
<br>
<br>
<fieldset>
<div id="log-in" class="container">
<h2>Log in | Cashier</h2>
<br>
<br>
<div class="col-6 col-sm-3">
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <div class="row">
      <div class="input-field col s4">
        <%= f.input :email, required: false, autofocus: true %>
        </br>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
        <%= f.input :password, required: false %>
      </div>
    </div>
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>
<br>
<%= render "cashiers/shared/links" %>
</div>
</div>
</fieldset>