<div id="splash">
    <br><br><br><br><br><br>
        <br>
        <br>
        <br>
        <br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br>
        <a id="home" href="/admins/sign_in" ><img src="http://i.imgur.com/6SfPyaW.png"></a>
        <a style="bottom: 35 px; left: 700px;" href="/cashiers/sign_in"><img src="http://i.imgur.com/x7ZtthJ.png"></a>
        <br><br><br><br><br><br><br><br><br><br><br>
</div>