
<br>
<div class="nested-fields">
    <table class="table table-striped">
    <tr>
        <td><%= f.association :product, collection: Product.where(status: true), :class => 'browser-default' %></td>
        <td><%= f.input :quantity, input_html: {value: f.object.quantity || '1'}, class: "form-control" %> </td>
        <td><%= link_to_remove_association "Remove Product", f, class: "btn btn-danger" %></td>
    </tr>
</div>
