
<br>

<div class="nested-fields">
    <table class="table table-striped">
    <tr>
        <td>  <%= f.association :product, size: 40, collection: Product.where(status:true) %> </td> 
        <td>  <%= f.input :quantity, input_html: {value: f.object.quantity || '1'}, class: "form-control" %> </td>
    </tr>
</div>
