
<%= simple_form_for @order, url: orders_summary_path do |f| %>
    <p>
            <%= link_to_add_association "Add Product", f, :order_lines, "data-association-insertion-method": "append", 
                    "data-association-insertion-node": "#order_lines", class: "btn btn-primary" %>
            <div id="order_lines">
                <%= f.simple_fields_for :order_lines do |order_line| %>
                    <%= render 'order_line_fields', f: order_line %>
                <% end %>
            </div>
    </p>


<%= f.submit "Create Order", class: "btn btn-primary" %>
<%= link_to "Cancel", orders_path, class: "btn btn-info" %>

<% end %>

</div>
</div>