<div class="card">
  <div class="card-block">
<br>
<h2>Orders</h2>
<br>
<%= link_to "New Order", new_order_path, class: "btn btn-info" %>
<table class="table table-striped">
   <thead>
        <tr>
             <th>Order #</th>
             <th>Cashier</th>
             <th>Total</th>
             <th>Cash</th>
             <th>Order</th>
        </tr>
   </thead>
   <tbody>
        <% @orders.each do |p| %>
            <tr>
                <td><%= p.id %></td>
                <td><%= p.cashier.name %></td>
                <td><%= p.total_price %></td>
                <td><%= if p.cash then p.cash else "NA" end %></td>
                <td><%= link_to "Show", order_path(p), class: "btn btn-info" %></td>
            </tr>
        <% end %>
   </tbody>
</table>
</div>
</div>