<div class="card">
  <div class="card-block">
<br>

<h1>Refund Order</h1>
<%= simple_form_for @order, url: update_order_path do |f| %>

<%= f.submit "Amend Order", class: "btn btn-danger" %>
<%= link_to "Cancel", orders_path, class: "btn btn-info" %>

    <p>
        <div id="order_lines">
            <%= f.simple_fields_for :order_lines do |order_line| %>
                <%= render 'order_line_refund', f: order_line %>
            <% end %>
        </div>
    </p>
    

<% end %>

</div>
</div>