<div class="card">
  <div class="card-block">
<br>

<h1>Order Summary</h1>
<table class="table table-striped">
    <tr>
         <th>Product</th> <th>Quantity</th> <th>Subtotal</th>
    </tr>
      <% @order.order_lines.each do |p| %>
        <tr>
            <td><%= p.product.name %> @ <%= p.product.price %></td>
            <td><%= p.quantity %></td>
            <td><%= p.product.price*p.quantity %></td>
        </tr>
    <% end %>
   
</table>

<h3>
    Total: <%= @order.total_price %>
</h3>

<h3>
    Cash: <%= @order.cash %>
</h3>

<h3>
    Change: <%= @order.cash - @order.total_price %>
</h3>

<p>
    <%= link_to "Back", orders_path, class: "btn btn-info" %>
    <%= link_to 'Print Summary', "#", class: "btn btn-primary", onclick: 'window.print();return false;'%>
    <%= link_to 'Refund', orders_refund_path(@order), class: "btn btn-warning" %>
</p>

</div>
</div>