<div class="card">
  <div class="card-block">
<br>
<h1>Confirm Order</h1>
<table class="table table-striped">
    <tr>
         <th>Product</th> 
         <th>Quantity</th> 
         <th>Subtotal</th>
    </tr>
    <% @order.order_lines.each do |p| %>
        <tr>
            <td><%= p.product.name %> @ <%= p.product.price %></td>
            <td><%= p.quantity %></td>
            <td><%= p.product.price*p.quantity %></td>
        </tr>
    <% end %>
   
</table>

<h3>
    Total: <%= @order.total_price %>
</h3>

<p>
     <%= simple_form_for @order do |f| %>
         <p>
            <%= f.input :cash %>
        </p>
        <%= f.submit "Create Order", class: "btn btn-primary" %>
        <%= link_to "Cancel", orders_path, class: "btn btn-info" %>
        
         <div class="hidden">
                <%= f.input :total_price %>
                <%= f.simple_fields_for :order_lines do |order_line| %>
                    <%= render 'order_line_fields', f: order_line %>
                <% end %>
             </div>
    <% end %>
</p>

</div>
</div>

