
<br>
<div class="col-4 col-sm-7">

<%= simple_form_for Cashier.new, url: create_cashier_path  do |f| %> 
  
      <p class="required">
        <%= f.label :email %>
        <%= f.email_field :email, size: 40 %>
      </p>
      <p class="required">
        <%= f.label :password %>
        <%= f.password_field :password, size: 40 %>
      </p>
      <p class="required">
        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation, size: 40 %>
      </p>
      <p>
        <%= f.label :name %>
        <%= f.text_field :name, size: 40 %>
      </p>
 <br>
    <p>
      <%= f.submit "Create Cashier Account", class:"btn btn-info" %>
      <br>
       <br>
      <%= link_to "Cancel", cashiers_admin_index_path, class: 'button' %>
    </p>
<% end %>

</div>
