<fieldset>
<br>

<div class="col-4 col-sm-7">
<h2>Edit Cashier</h2>
<%= simple_form_for @cashier, url: cashiers_admin_path(@cashier)  do |f| %> 
      <p class="required">
        <%= f.label :email %>
        <%= f.email_field :email, size: 40 %>
      </p>
      <p class="required">
        <%= f.label :password, "New Password" %>
        <%= f.password_field :password, size: 40 %>
      </p>
      <p class="required">
        <%= f.label :password_confirmation, "Confirm New Password" %>
        <%= f.password_field :password_confirmation, size: 40 %>
      </p>
      <p>
        <%= f.label :name %>
        <%= f.text_field :name, size: 40 %>
      </p>

      <p>
          <%= f.check_box :status %> Active
      </p>

    </ol>
    <p>
      <% if @cashier.new_record? %>
        <%= f.submit "Create Cashier Account" %>
      <% else %>
        <%= f.submit "Update Account" %>
      <% end %>
      <br>
      <br>
      <%= link_to "Cancel", cashiers_admin_index_path, class: 'button' %>
    </p>
<% end %>
</div>
</fieldset>