<div class="card">
  <div class="card-block">
<br>
<h2>Cashiers</h2>
<br>
<p><%= link_to "New Cashier", '/cashiers/new',  class: "btn btn-primary" %></p>
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Admin Email</th>
        <th> </th>
        <th> </th>
        <th> </th>
    </tr>
    <% @cashiers.each do |p| %>
        <tr>
            <td><%= p.name %></td>
            <td><%= p.email %></td>
            <td><%= if p.status==true then "Activated" else "Deactivated" end %></td>
            <td><%= p.admin.email %></td>
            <td><%= link_to "Show", cashier_path(p),  class: "btn btn-primary" %></td>
            
            <td><%= link_to "Edit", edit_cashier_path(p),  class: "btn btn-primary" %></td>
            <td>
                <% if p.status==true %>
                    <%= link_to "Deactivate", p, method: :delete, class: "btn btn-danger" %>
                <% else %>
                    <%= link_to "Activate", p, method: :delete, class: "btn btn-info" %>
                <% end %>
            </td>
        </tr>
    <% end %>
</table> 
</div>
</div>