<fieldset>
  <div class="card-block">
<br>

<h2>Show Cashier</h2>
<h3> Cashier #<%= @cashier.id %></h3><br>

<h4><%= @cashier.name %></h4>
<h4><%= @cashier.email%></h4>

<p>
    <%= if @cashier.status then "Status: Active" else "Status: Inactive" end %>
</p>
<%= link_to "Back to Index", cashiers_path %><br>
<%= link_to "Edit", edit_cashier_path(@cashier) %>

</div>
</fieldset>