/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*@import "materialize";*/

body{
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    background-image: url("http://i.imgur.com/XjkXa8z.png");
    font: 14px arial;
}

#nav a{
    color:white;
}

#nav{
    color:white;
}

.navbar-default {
    background-color: teal;
    color: white;
}

.navbar-brand {
position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
    color: white;
    font: roboto;
}

.nav {
    color: white;
    font: roboto;
}

.navbar a {
    color: white;
    font: roboto;
    
}

.card
{
    background-color: white;
    border-color: black;
}

#splash{
    background: url("http://i.imgur.com/bDUVpoZ.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top:-50px;
    height: 110%;
    width: 100%;
}

#home{
    bottom: 100px; 
    left: 600px;
}

fieldset{
    border: solid 1px #DDD !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
    background-color: teal;
    color:white;
    width: 450px;
    height: 400px;
    
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: #fff;
}