// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    background: url("http://i.imgur.com/bDUVpoZ.png");
    background-size: 100%;
}