
<br>
<div class="col-4 col-sm-7">
    <%= simple_form_for @product do |f| %>
        <p>
            <%= f.input :name %>
        </p>
        <p>
            <%= f.input :price %>
        </p>
        <br>
        <p>
        <%= f.button :submit, class: "btn btn-info" %>
        </p>
    <% end %>
</div>
