<div class="card">
  <div class="card-block">
<br>
<h2>Products</h2>
<br>
<%= link_to "New Product", '/products/new',  class: "btn btn-primary" %> <br>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Status</th>
        <th> </th>
        <th> </th>
        <th> </th>
    </tr>
    </thead>
    <tbody>
    <% @products.each do |p| %>
        <tr>
            <td><%= p.name %></td>
            <td><%= p.price %></td>
            <td><%= if p.status==true then "Activated" else "Deactivated" end %></td>
            <td><%= link_to "Show", product_path(p),  class: "btn btn-primary" %></td>
            <td><%= link_to "Edit", edit_product_path(p),  class: "btn btn-primary" %></td>
            <td>
                <% if p.status==true %>
                    <%= link_to "Deactivate", p, method: :delete, class: "btn btn-danger" %>
                <% else %>
                    <%= link_to "Activate", p, method: :delete, class: "btn btn-info" %>
                <% end %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table> 

</div>
</div>