<div class="card">
  <div class="card-block">
<br>
<h2>Daily Sales Report</h2>
<h5>As of <%= Date.today %></h5>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Product</th>
        <th>Quantity Sold</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>  
        <% total_qty=0 %>
        <% total_price=0.0 %>
        <% @products.each do |product| %>
            <% if !product.name.nil? || !product.price.nil? %>
                <tr>
                    <td><%=product.name%></td>
                    <% quantity = 0 %>
                    <% product.order_lines.where("created_at >= ?", Time.now.in_time_zone("Singapore").beginning_of_day).each do |x| %> 
                        <%quantity+=x.quantity %>
                    <% end %>
                    <td><%=quantity%></td>
                    <%total_qty+=quantity%>
                    <td><%="Php %.2f" % (quantity*product.price)%></td>
                    <%total_price+=(quantity*product.price)%>
                </tr>
            <% end %>
        <% end %>
        
        <tr>
            <td><b>Total</b></td>
            <td><b><%= total_qty%></b></td>
            <td><b><%= "Php %.2f" % total_price%></b></td>
        </tr>
    </tbody>
</table>

</div>
</div>