<div class="card">
  <div class="card-block">
<br>
<h2>Show Product</h2>
<h3> Product #<%= @product.id %></h3><br>

<h4><%= @product.name %></h4>

<p>
    Price: 
    <%= @product.price %>
</p>

<p>
    <%= if @product.status then "Active" else "Inactive" end %>
</p>
<%= link_to "Back to Index", products_path %><br>
<%= link_to "Edit", edit_product_path(@product) %>
</div>
</div>