<nav id ="nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid navbar-fnt">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a class="navbar-brand" href="/welcome/index">
    <img src="http://i.imgur.com/5pwcyoW.png" style="height: 100px;"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <% if admin_signed_in? %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/products/">Products</a></li>
        <li><a href="/cashiers">Cashiers</a></li>
        <li><a href="/report/">Report</a></li>
      </ul>
    <% elsif cashier_signed_in? %>
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/orders/">Orders</a></li>
      </ul>
    <% else %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <%end%> 
      
    <p class="navbar-text pull-right">
        <% if admin_signed_in? %>
          Logged in as <strong><%= current_admin.email %></strong>
          <%= link_to "Logout", destroy_admin_session_path, method: :delete, class: "navbar-link"%>
        <% elsif cashier_signed_in? %>
          Logged in as <strong><%= current_cashier.email %></strong>
          <%= link_to "Logout", destroy_cashier_session_path, method: :delete, class: "navbar-link"%>
          <% end %>
      </p> 

      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>